<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CS Mining</title>
    <link rel="stylesheet" href="/static/style/home.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/home.css') }}"
    />
  </head>
  <body>
    <div class="identification">
      <div class="logo">
        <img src="/static/images/cs-logo.jpg" alt="CS Mining Logo" />
      </div>
      <h1>{{ user.phone}} <br />ID: {{ user.id }}</h1>
    </div>

    <div class="first-menu">
      <div class="menu-item">
        <img
          id="inviteBtn"
          src="/static/images/invite-icon.png"
          alt="invite icon"
        />
        <p>Invite</p>
      </div>
      <div class="menu-item">
        <img
          id="minerBtn"
          src="/static/images/miner-icon.png"
          alt="Miner icon"
        />
        <p>Miner</p>
      </div>
      <div class="menu-item">
        <img
          id="bonusBtn"
          src="/static/images/bonus-icon.png"
          alt="Bonus icon"
        />
        <p>Bonus</p>
      </div>
      <div class="menu-item">
        <img
          id="companyBtn"
          src="/static/images/company-icon.png"
          alt="Company icon"
        />
        <p>Company</p>
      </div>
    </div>

    <div class="stats-card">
      <div class="stats">
        <h2 id="balance-display">{{ "%.2f"|format(user.wallet_balance) }}</h2>
        <p>Balance($)</p>
      </div>
      <div class="stats">
        <h2 id="income-display">{{ "%.2f"|format(user.team_income) }}</h2>
        <p>Team Income($)</p>
      </div>
      <div class="stats">
        <h2 id="points-display">{{ user.points }}</h2>
        <p>Points</p>
      </div>
    </div>

    <div class="platform-box">
      <h3>Platform is running securely</h3>
      <div class="time">
        <div>
          <h2 id="pt-days">0</h2>
          <p>days</p>
        </div>
        <div>
          <h2 id="pt-hours">0</h2>
          <p>hours</p>
        </div>
        <div>
          <h2 id="pt-minutes">0</h2>
          <p>minutes</p>
        </div>
        <div>
          <h2 id="pt-seconds">0</h2>
          <p>seconds</p>
        </div>
      </div>
    </div>

    <div class="coin-table">
      <div class="row header-row">
        <span>Coin</span>
        <span>Price</span>
        <span>24h</span>
      </div>
      <div id="crypto-rows">
        <div class="row">
          <span colspan="3" style="color: #aaa">Loading prices...</span>
        </div>
      </div>
    </div>

    <div class="bottom-nav">
      <span class="active">Home</span>
      <span id="shopBtn">Shop</span>
      <span id="pledgeBtn">Pledge</span>
      <span id="mineBtn">Mine</span>
    </div>

    <script src="/static/JS/script.js"></script>
  </body>
</html>
