<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/invite.css" />
    <title>CS Mining</title>
  </head>
  <body>
    <div id="backBtn" class="header">
      <svg
        id="backBtn"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="size-6"
      >
        <path
          fill-rule="evenodd"
          d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
          clip-rule="evenodd"
        />
      </svg>
      <h1>Invite</h1>
    </div>
    <div class="container">
      <h2>Recommend CS Mining to Friends</h2>
      <div class="directive">
        <p>1. Send invitations to friends</p>
        <p>2. Friends register and rent a miner</p>
        <p>3. You gets corresponding proportional rebate</p>
      </div>
      <div class="list-panel">
        <div class="list-item">
          <p>My Code: <span>123456</span></p>
          <p>
            <button>Copy</button>
          </p>
        </div>
        <div class="list-item">
          <p>My Link: <span>http//link.com</span></p>
          <p>
            <button>Copy</button>
          </p>
        </div>
      </div>
      <div class="instructions">
        <h3>Reward Rules</h3>
        <p>
          Everyone has their own exclusive invitation link, and you can get 10%
          of the income of the first-level subordinates, 5% of the income of the
          secomd-level subordinates, and 2.5% of the income of the third-level
          subordinates.
        </p>
      </div>
    </div>
    <script src="JS/script.js"></script>
  </body>
</html>
