<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CS Mining</title>
    <link rel="stylesheet" href="/static/style/home.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/home.css') }}"
    />
  </head>

  <body>
    <div class="identification">
      <div class="logo">
        <img src="/static/images/cs-logo.jpg" alt="CS Mining Logo" />
      </div>
      <h1>{{ user.phone}} <br />ID: {{ user.id }}</h1>
    </div>
    <div class="stats-card">
      <div class="stats">
        <h2 id="balance-display">{{ "%.2f"|format(user.wallet_balance) }}</h2>
        <p>Balance($)</p>
      </div>
      <div class="stats">
        <h2 id="income-display">{{ "%.2f"|format(user.team_income) }}</h2>
        <p>Team Income($)</p>
      </div>
      <div class="stats">
        <h2 id="points-display">{{ user.points }}</h2>
        <p>Points</p>
      </div>
    </div>
    <div class="menu-wrapper">
      <div class="first-menu">
        <div class="menu-item">
          <img
            id="inviteBtn"
            src="/static/images/invite-icon.png"
            alt="invite icon"
          />
          <p>Invite</p>
        </div>

        <div class="menu-item">
          <img
            id="minerBtn"
            src="/static/images/miner-icon.png"
            alt="miner icon"
          />
          <p>Miner</p>
        </div>

        <div class="menu-item">
          <img
            id="bonusBtn"
            src="/static/images/bonus-icon.png"
            alt="bonus icon"
          />
          <p>Bonus</p>
        </div>

        <div class="menu-item">
          <img
            id="companyBtn"
            src="/static/images/company-icon.png"
            alt="company icon"
          />
          <p>Company</p>
        </div>
      </div>
      <div class="first-menu">
        <div class="menu-item">
          <img
            id="exchangeBtn"
            src="/static/images/Untitled_design__36_.png"
            alt="exchange icon"
          />
          <p>Exchange</p>
        </div>

        <div class="menu-item">
          <img
            id="raffleBtn"
            src="/static/images/Untitled_design__30_.png"
            alt="raffle icon"
          />
          <p>Raffle</p>
        </div>

        <div class="menu-item">
          <img
            id="teamBtn"
            src="/static/images/Untitled_design__29_.png"
            alt="team icon"
          />
          <p>Team</p>
        </div>

        <div class="menu-item">
          <img
            id="exchange2Btn"
            src="/static/images/Untitled_design__31_.png"
            alt="cs-exchange icon"
          />
          <p>CS Exchange</p>
        </div>
      </div>
    </div>
    <div class="action-cards">
      <div id="rechargeBtn" class="card">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            fill-rule="evenodd"
            d="M9.75 6.75h-3a3 3 0 0 0-3 3v7.5a3 3 0 0 0 3 3h7.5a3 3 0 0 0 3-3v-7.5a3 3 0 0 0-3-3h-3V1.5a.75.75 0 0 0-1.5 0v5.25Zm0 0h1.5v5.69l1.72-1.72a.75.75 0 1 1 1.06 1.06l-3 3a.75.75 0 0 1-1.06 0l-3-3a.75.75 0 1 1 1.06-1.06l1.72 1.72V6.75Z"
            clip-rule="evenodd"
          />
          <path
            d="M7.151 21.75a2.999 2.999 0 0 0 2.599 1.5h7.5a3 3 0 0 0 3-3v-7.5c0-1.11-.603-2.08-1.5-2.599v7.099a4.5 4.5 0 0 1-4.5 4.5H7.151Z"
          />
        </svg>
        <p>Recharge</p>
      </div>

      <div id="withdrawBtn" class="card">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            d="M9.97.97a.75.75 0 0 1 1.06 0l3 3a.75.75 0 0 1-1.06 1.06l-1.72-1.72v3.44h-1.5V3.31L8.03 5.03a.75.75 0 0 1-1.06-1.06l3-3ZM9.75 6.75v6a.75.75 0 0 0 1.5 0v-6h3a3 3 0 0 1 3 3v7.5a3 3 0 0 1-3 3h-7.5a3 3 0 0 1-3-3v-7.5a3 3 0 0 1 3-3h3Z"
          />
          <path
            d="M7.151 21.75a2.999 2.999 0 0 0 2.599 1.5h7.5a3 3 0 0 0 3-3v-7.5c0-1.11-.603-2.08-1.5-2.599v7.099a4.5 4.5 0 0 1-4.5 4.5H7.151Z"
          />
        </svg>
        <p>Withdraw</p>
      </div>

      <div class="card" onclick="openSigninModal()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            fill-rule="evenodd"
            d="M7.502 6h7.128A3.375 3.375 0 0 1 18 9.375v9.375a3 3 0 0 0 3-3V6.108c0-1.505-1.125-2.811-2.664-2.94a48.972 48.972 0 0 0-.673-.05A3 3 0 0 0 15 1.5h-1.5a3 3 0 0 0-2.663 1.618c-.225.015-.45.032-.673.05C8.662 3.295 7.554 4.542 7.502 6ZM13.5 3A1.5 1.5 0 0 0 12 4.5h4.5A1.5 1.5 0 0 0 15 3h-1.5Z"
            clip-rule="evenodd"
          />
          <path
            fill-rule="evenodd"
            d="M3 9.375C3 8.339 3.84 7.5 4.875 7.5h9.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-9.75A1.875 1.875 0 0 1 3 20.625V9.375Zm9.586 4.594a.75.75 0 0 0-1.172-.938l-2.476 3.096-.908-.907a.75.75 0 0 0-1.06 1.06l1.5 1.5a.75.75 0 0 0 1.116-.062l3-3.75Z"
            clip-rule="evenodd"
          />
        </svg>
        <p>Sign-in</p>
      </div>
    </div>

    <div class="list-panel">
      <div class="list-item">
        <p>Contact Consultant</p>
        <a href="https://t.me/cs_mining_support" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            width="24"
            height="24"
          >
            <path
              d="M11.944 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12 12 12 0 0 0 12-12A12 12 0 0 0 12 0a12 12 0 0 0-.056 0zm4.962 7.224c.1-.002.321.023.465.14a.506.506 0 0 1 .171.325c.016.093.036.306.02.472-.18 1.898-.962 6.502-1.36 8.627-.168.9-.499 1.201-.82 1.23-.696.065-1.225-.46-1.9-.902-1.056-.693-1.653-1.124-2.678-1.8-1.185-.78-.417-1.21.258-1.91.177-.184 3.247-2.977 3.307-3.23.007-.032.014-.15-.056-.212s-.174-.041-.249-.024c-.106.024-1.793 1.14-5.061 3.345-.48.33-.913.49-1.302.48-.428-.008-1.252-.241-1.865-.44-.752-.245-1.349-.374-1.297-.789.027-.216.325-.437.893-.663 3.498-1.524 5.83-2.529 6.998-3.014 3.332-1.386 4.025-1.627 4.476-1.635z"
            />
          </svg>
        </a>
      </div>

      <div class="list-item">
        <p id="BankBtn">Manage Bank Account</p>
      </div>
      <div class="list-item">
        <p>Team Income Record</p>
      </div>
      <div class="list-item">
        <p>Miner Income Record</p>
      </div>
      <div class="list-item">
        <p id="balanceRecordsBtn">Balance Record</p>
      </div>
      <div class="list-item">
        <p id="settingsBtn">Apply Settings</p>
      </div>
    </div>

    <div id="signinModal" class="overlay">
      <div class="signin-popup">
        <div class="signin-header">
          <span class="signin-title">⭐ Weekly Sign-In</span>
          <button class="signin-close" onclick="closePopup()">✕</button>
        </div>
        <p class="signin-sub">Sign-in to claim points</p>

        <div class="signin-grid">
          <div class="day-box" data-day="1">
            <div class="day-coin">¥</div>
            <span class="day-label">Day 1</span
            ><span class="day-pts">5 pts</span>
            <div class="day-status"></div>
          </div>
          <div class="day-box" data-day="2">
            <div class="day-coin">¥</div>
            <span class="day-label">Day 2</span
            ><span class="day-pts">5 pts</span>
            <div class="day-status"></div>
          </div>
          <div class="day-box" data-day="3">
            <div class="day-coin">¥</div>
            <span class="day-label">Day 3</span
            ><span class="day-pts">5 pts</span>
            <div class="day-status"></div>
          </div>
          <div class="day-box" data-day="4">
            <div class="day-coin">¥</div>
            <span class="day-label">Day 4</span
            ><span class="day-pts">5 pts</span>
            <div class="day-status"></div>
          </div>
          <div class="day-box" data-day="5">
            <div class="day-coin">¥</div>
            <span class="day-label">Day 5</span
            ><span class="day-pts">5 pts</span>
            <div class="day-status"></div>
          </div>
          <div class="day-box" data-day="6">
            <div class="day-coin">¥</div>
            <span class="day-label">Day 6</span
            ><span class="day-pts">5 pts</span>
            <div class="day-status"></div>
          </div>
          <div class="day-box" data-day="7">
            <div class="day-coin">¥</div>
            <span class="day-label">Day 7</span
            ><span class="day-pts">6 pts</span>
            <div class="day-status"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-nav">
      <span id="homeBtn">Home</span>
      <span id="shopBtn">Shop</span>
      <span id="noticesBtn">News Feed</span>
      <span class="active">Mine</span>
    </div>

    <script src="/static/JS/script.js"></script>
  </body>
</html>
