<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/home.css" />
    <title>CS Mining</title>
  </head>
  <body>
    <h1 class="cs-miners">CS Miners</h1>
    <div class="stat-cards">
      <div class="stat">
        <h2>0</h2>
        <p>Level 1</p>
      </div>
      <div class="stat">
        <h2>0</h2>
        <p>Level 2</p>
      </div>
      <div class="stat">
        <h2>0</h2>
        <p>Level 3</p>
      </div>
    </div>
    <div class="levels">
      <div class="stat">
        <h3 id="tier1Btn">Tier 1</h3>
      </div>
      <div class="stat">
        <h3 class="active">Tier 2</h3>
      </div>
    </div>
    <div class="bottom-nav">
      <span id="homeBtn">Home</span>
      <span class="active">Shop</span>
      <span id="pledgeBtn">Pledge</span>
      <span id="mineBtn">Mine</span>
    </div>
    <script src="/static/JS/script.js"></script>
  </body>
</html>
